/**
 * project:     GooTube FLV Retriever
 * file:        style.css
 * desc:        cascading style sheet document
 * author:      Kej<kejjang@gmail.com>
 *
 * last update: 2006/5/6 16:18
 */

body{
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 30px;
}

body, body *{
	font-family:Tahoma;
	font-size:10pt;
}

#downloadInfo{
  font-weight:bold;
  padding:7px 0 7px 7px;
  width: 150px;
}

#downloadInfo.wide{
  width: 470px;
}

#result_div{
	padding: 7px 0 0 0;
}

img{
	vertical-align:middle;
}

h1{
	font-weight:bold;
	color:#375cf0;
	font-size:24pt;
}

.h1google1{
	font-weight:bold;
	font-size:24pt;
	color:#0d30d7;
}

.h1google2{
	font-weight:bold;
	font-size:24pt;
	color:#F44336;
}

.h1google3{
	font-weight:bold;
	font-size:24pt;
	color:#fedd25;
}

.h1tube{
	font-weight:bold;
	font-size:24pt;
	background:#F44336;
	color:#fff;
}
a {
	font-size: 24px;
	display:block;
}
a:link, a:visited{
	color:#1976D2;
	text-decoration:none;
}

a:hover{
	background:#FFF59D;
}

a:active{
	color:#F44336;
	background:#fff;
}
.small a{
	font-size: 12px;
}

.desc {
	font-size: 12px;
	color:#F44336;
}
.small .desc {
	font-size: 12px;
	color:#F44336;
}
.class1{
	background:#e5ecf9;
	border-bottom:1px solid #e5ecf9;
	border-left:1px solid #e5ecf9;
	border-right:1px solid #e5ecf9;
	border-top:solid 1px #375cf0;
	padding:10px;
}

.class2{
	height:1px;
	background:#375cf0;
	border-bottom:0px solid #fff;
	border-left:0px solid #fff;
	border-right:0px solid #fff;
	border-top:solid 1px #375cf0;
}

.class2t{
	margin-top:50px !important;
	margin-top:0px;
	height:1px;
	background:#375cf0;
	border-bottom:0px solid #fff;
	border-left:0px solid #fff;
	border-right:0px solid #fff;
	border-top:solid 1px #375cf0;
}

div.row {
	clear: both;
	padding-top: 10px;
	width:350px;
	margin:0px auto;
}

div.row span.label {
	float: left;
	width: 100px;
	text-align: right;
 }

div.row span.formw {
	float: right;
	width: 235px;
	text-align: left;
}

div.setcenter{
	text-align:center;
}

#btnsubmit{
	margin-left:20px;
}

.ml10{
	margin-left:10px;
}

.mt10{
	margin-top:10px;
}

.mt25{
	margin-top:25px;
}


div#errormsg{
	color:#F44336;
	font-weight:bold;
}

.attention{
	color:#F44336;
	font-weight:bold;
}

.tdnone{
	text-decoration:none;
}

.invisible{
	display:none;
}

#msgs{
	margin-left:0;
	margin-right:0;
	margin:auto;
	text-align:left;
	width:550px;
	white-space:nowrap;
	overflow:visible;
}

#resultarea{
	margin-left:0;
	margin-right:0;
	margin:auto;
	text-align:left;
	width:600px;
	white-space:nowrap;
	overflow:visible;
}